.dropdown-menu {
    display: block;
}
.justify-content-center {
    border-style: outset;   
}

h1 {
    margin: 2%;
    margin-left: 65%;
}
.mission-Statement {
    margin-left: 45%;
    margin-bottom: 4%;
}