.dropdown-menu {
    width:-webkit-fill-available;
}
.dropdown-item {
    font-size: large;
}
.nav-tabs{
    border-bottom: 10px solid #52cac2;
}

.nav-tabs .nav-link.active{
    background-color: #52cac2;
    color: #ffffff
}
.nav-tabs .nav-link:hover {
    background-color: #52Cac2;
    color: #FFFFFF;
}

/*-------------Mobile Navbar--------*/
#mobileNav {
    display:none;
}
/*-----------------------------*/

body {
    font-size: 22px;
}

/*----Header Section For resizing---*/
h1 {
    margin: 2%;
    font-size: 62px;
    font-weight: 600;
    font-family:'Open Sans', sans-serif;
    left: 50%;
    bottom: 58%;
    position: absolute;
    /* For Mobile Resize*/
    display:;
}
.mission-Statement {
    margin-left: 45%;
    margin-bottom: 4%;
    font-size: 26px;
    font-family: 'Lato', sans-serif;
    /* For Mobile Resize*/
    display:;
    
}
.header-Logo{
    width: 181px;
    height: 180px;
    margin: 2%;
    /* For Mobile Resize*/
    display:;
}
/*--------------------------*/


.top-Header{
    position: relative;
}
#form-Box {
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 2%;
}




.brand-Text{
    font-size: 22px;
}

.footer-Logo {
    width: 165px;
    height: 165px;
    margin-bottom: 5%;
}

body {
    background-color: #D9D9D9;
}

.topImage{
    
}

.btn {
    width: 500px;
}


.brand-Text {
    font-size: 22px;
}

.btn {
    background-color: #FFBC4B;
}
         
